{% extends 'base.html.twig' %}

{% block title %}New ApunteTipo{% endblock %}

{% block body %}
    <h1>Create new ApunteTipo</h1>

    {{ include('apunte_tipo/_form.html.twig') }}

    <a href="{{ path('apunte_tipo_index') }}">back to list</a>
{% endblock %}
