{% extends 'base.html.twig' %}

{% block title %}Edit Contenido{% endblock %}

{% block body %}
    <h1>Edit Contenido</h1>

    {{ include('contenido/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contenido_index') }}">back to list</a>

    {{ include('contenido/_delete_form.html.twig') }}
{% endblock %}
